include src\raylibpy\bin\32bit\*.dylib
include src\raylibpy\bin\32bit\*.dll
include src\raylibpy\bin\32bit\raylib.so
include src\raylibpy\bin\64bit\*.dylib
include src\raylibpy\bin\64bit\*.dll
include src\raylibpy\bin\64bit\raylib.so
include DOCS.md